:host {
  display: block;
  span.background {
    height: 100%;
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background: url(../../../assets/image/Temtem_portrait_background.png)
      no-repeat 100%/100%;

    &::before {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      content: "";
      background: url(../../../assets/image/Temtem_portrait_border.png)
        no-repeat top left;
      background-size: auto;
      background-size: 100%;
      pointer-events: none;
      z-index: 2;
    }
    app-image {
      width: 100%;
      height: 100%;
      vertical-align: top;
      clip-path: polygon(51% 5%, 88% 28%, 89% 73%, 50% 92%, 14% 72%, 12% 29%);
    }
  }
}
